@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

html, body {
    background-color: gray;
    height: 100%;
    font-size: 16px;
  }
  
  body {
    margin: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
  }

  .panel {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 28px;
    margin: 0 15%;
  }

  .container {
      max-width: 1660px;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }

  .slogan {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.775vw;
    width: 40.9vw;
    /* height: 107px; */
    margin: auto;
    margin-top: 7.65%;
    text-align: center;
  }

  .header {
      height: 40.9vw;
      color: white;
      background: url("../img/banner-bg.jpg");
      /* color: rgba(0,0,0,0.6); */
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: block;
      position: relative;
    }
  
  /* .shadow {
    position: absolute;
    height: 40.9vw;
    width: 100vw;
    background: black;
    opacity: 0.6;
  } */

  .logo {
    height: 41px;
    width: 179px;
  }
  
  .top-menu {
    width: 462px;
    margin: auto 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .top-menu__item {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    text-decoration: none;
  }
  
  .top-menu__item:first-child {
    margin-left: 0;
  }

  .top-menu__item:last-child {
    margin-right: 0;
  }

