@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

html, body {
  background-color: gray;
  height: 100%;
  font-size: 16px;
}
  
body {
  margin: 0;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.header {
  /* height: 27.04vw; */
  height: 1135px;
  color: white;
  background: url("../img/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  position: relative;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    height: 613px;
    background: url("../img/banner-bg-tablet.jpg");
  }
}

@media (min-width: 1201px) and (max-width: 1660px) {
  .header {
    height: 523px;
    background: url("../img/banner-bg.jpg");
  }
}

@media (min-width: 1661px) {
  .header {
    height: 523px;
    background: url("../img/banner-bg.jpg");
    background-size: 100vw auto;
  }
}

.header::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.container {
  max-width: 1660px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 28px;
  margin: 0 15%;
}

.logo {
  height: 41px;
  width: 179px;
  margin-right: 25px;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20px;
  width: 23px;
  margin: auto 0;
  cursor: pointer;
}

.hamburger-button-top,
.hamburger-button-middle,
.hamburger-button-bottom {
  width: 19px;
  height: 0;
  background: white;
  border: 2px solid white;
}

@media (min-width: 769px) {
  .hamburger-button {
    display: none;
  }
}

.top-menu {
  width: 462px;
  margin: auto 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.top-menu__item {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .top-menu {
    display: none;
  }
}

.slogan {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  /* font-size: calc(2.71vw); */
  font-size: 25px;
  width: 390px;
  margin: auto;
  margin-top: 7.65%;
  text-align: center;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .slogan {
    font-size: 40px;
    width: 604px;
  }
}

@media (min-width: 1201px) {
  .slogan {
    font-size: 45px;
    width: 679px;
  }
}